<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div class="luau_table0x00005f905e483458"><div class="luau_table0x00005f905e4cda28"><div class="luau_table0x00005f905e4cd368"><div class="luau_table0x00005f905e4ccca8"></div></div></div></div>
	<script src="./style.js"></script>
	<script>
(new UiCorner('luau_table0x00005f905e483458', 8, 1)).init();
(new UiCorner('luau_table0x00005f905e4cda28', 8, 1)).init();
(new UiCorner('luau_table0x00005f905e4cd368', 8, 1)).init();
(new UiCorner('luau_table0x00005f905e4ccca8', 8, 1)).init();

	</script>
</body>
</html>

