<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
	<script src="./style.js"></script>
</head>
<body>
<div class="luau_table0x000062fc03f7f3e8"><div class="luau_table0x000062fc03f6ecc8"><div class="luau_table0x000062fc03f6e608"><div class="luau_table0x000062fc03f6ddf8"></div></div></div></div>
	<script defer>
(new UiCorner('luau_table0x000062fc03f7f3e8', 8, 1)).apply();

(new UiCorner('luau_table0x000062fc03f6ecc8', 8, 1)).apply();

(new UiCorner('luau_table0x000062fc03f6e608', 8, 1)).apply();
(new UiAspectRatioConstraint('luau_table0x000062fc03f6e608', 1, 1.1341772079467773, 1, 0.7790696620941162, 1.600000023841858)).apply();

(new UiCorner('luau_table0x000062fc03f6ddf8', 8, 1)).apply();
(new UiAspectRatioConstraint('luau_table0x000062fc03f6ddf8', 1, 0.9520202279090881, 1, 0.55202317237854, 4)).apply();


	</script>
</body>
</html>

