<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
	<script src="./style.js"></script>
</head>
<body>
<div class="luau_table0x00005c69438ceb98"><div class="luau_table0x00005c694391c918"><div class="luau_table0x00005c694391c258"><div class="luau_table0x00005c694391bb98"></div></div></div></div>
	<script defer>
applyUiCornerStyle('luau_table0x00005c69438ceb98', 8, 1);
applyUiCornerStyle('luau_table0x00005c694391c918', 8, 1);
applyUiCornerStyle('luau_table0x00005c694391c258', 8, 1);
applyUiCornerStyle('luau_table0x00005c694391bb98', 8, 1);

	</script>
</body>
</html>

