html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}
.target {
background-color: rgba(0, 170.0000050663948, 0, 1);
box-shadow: 0 0 0 0px rgb(0, 0, 0);
transform: rotate(0deg) translate(0%, 0%);
left: calc(0px + 23.728813230991364%);
width: calc(394px + 0%);
top: calc(0px + 24.88262951374054%);
overflow: visible;
min-width: calc(394px + 0%);
position: relative;
height: calc(171px + 0%);
min-height: calc(171px + 0%);
z-index: 1;
border-radius: calc(171px + 0%);
}